@charset "UTF-8";

/*
   Paleta de cores:
     rgb(206, 165, 137); clarinho
     rgb(223, 158, 115); medio
     rgb(164, 82, 28); escura
*/

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; /*Que a borda faça parte da conta*/
}

body,html{
  background-color:  rgb(231, 210, 196);
  height: 100vh;
  width: 100vw;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login{
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 570px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);

  /*Adicionando uma animação simples dentro dessa section login*/
  transform: translate(-50%, -50%); /*Da linha 30 a 33 para posicionar no meio da tela*/
  transition: width .4s, height .3s; 
  transition-timing-function: ease; /*Pra que de uma suavizada durante a transição*/

  /*Todas as transições e transformações é melhor colocar no final*/

}

section#login > div#imagem{
  display: block;
  background:  rgb(244, 241, 239) url(../imagens/pexels-secret-garden-931162.jpg) no-repeat; /*Aqui adicionamos a foto*/
  /*Para fazer a imagem aparecer:*/
  height: 200px;
  background-size: cover;
  /*Para arredondar as bordas da img: vai na div de fora (section#login) e coloca overflow:hidden, ou seja, tudo que estiver fora da borda, ficará escondido*/
}

section#login > div#formulario{
  display: block;
  padding:10px;
  
}

/*Vai sempre desenvolvendo e testando*/

div#formulario > h1{
  text-align: center;
  margin-bottom: 10px;

}

div#formulario > p{
  font-size:1em;
}

form > div.campo{ /*Vamos colorir o background do campo email e senha*/
  background-color: rgb(225, 174, 138);
  border: 2px solid rgb(225, 174, 138);
  height: 40px;
  border-radius: 8px;
  margin: 8px 0px; /* a de cima de baixo- 5px, a da esquerda e direita-0px*/


}

div.campo > label{
   display: none; /*ele vai tirar o login e a senha q estao escritos ao lado do campo*/
}

div.campo > span{ /*formatando os icones*/
  color: white;
  /*background-color: black;*/
  font-size: 2em;
  width:40px
}

div.campo > input{ /*formatando as caixas*/
  background-color:  rgb(218, 209, 206) ;
  font-size: 1em;
  width: calc(100% - 45px); /*subtraindo do valor do icone pra encaixar a caixa de login e senha.*/
  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-6.5px); /*Para posicionar para cima  a caixa de login e senha no background*/
  /*Sempre que voce tiver uma animação/transformação, coloque na última linha do seu seletor*/
}

div.campo > input:focus-within{ /*Quando eu clicar, a a caixa q está com foco, fica branca pra eu poder digitar*/
  background-color: white;
}

form > input[type=submit]{
  display: block; /*A linha desceu e ficou em uma so*/
  font-size: 1em;
  width: 100%; /*Não pode ser 100vw pq vw é a largura total, aqui é 100%  do conteiner*/
  height: 35px;
  background-color: rgb(200, 182, 176);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover{
  background-color: rgb(180, 156, 148) ;
}

form > a.botao{ /*No form, o link que está dentro da classe botao*/
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: rgb(238, 232, 224);
  border: 1px solid  rgb(215, 204, 200) ;
  color:  rgb(181, 151, 140) ;
  border-radius: 5px;
  text-decoration: none;
}

form > a.botao:hover{
  background-color:  rgb(255, 254, 253) ;
}

form > a.botao > i{
  font-size: 0.8em;
}










