@charset "UTF-8";

@media screen and (min-width:1200px){
    #container{
        
        background-size: 405px 405px;
    }
    
    #login{
        margin-top: 170px;
    }

    #enviar,
    #forgot_password{
        margin-left: 25px;
    }
   
}